<div id="resources" ng-controller="ResourcesController">
  <p>
    <a ng-click="login()" href="">Logga in</a>
  </p>

  <p class="search-info" ng-show="query">Du har sökt på {{query}}.</p>

  <div class="resource" ng-repeat="resource in resources | filter:query">
    <h2><a href="{{resource.url}}">{{resource.name}}</a></h2>

    <p>
    {{resource.description}}

    <span ng-repeat="tag in resource.tags" class='tag'>
      <a href="#">
        <span class="glyphicon glyphicon-tag"></span>
        {{tag.tag}}
      </a>
    </span>
    </p>

    <small>
      Skapades av
      <img gravatar email="resource.user.email" size="15" default="mm"></gravatar>
      {{resource.user.firstname}}
      <span am-time-ago="resource.created_at"></span>.
    </small>
  </div>
</div>

<aside id="filter" ng-controller="ResourcesController">
  <h2>
    <span class="glyphicon glyphicon-link"></span>
    Kategorier
  </h2>
  <p>
    <span ng-repeat-start="category in categories"
          class="label label-default"><a href="#">{{category.name}}</a></span>
    <span ng-repeat-end></span>
  </p>

  <h2>
    <span class="glyphicon glyphicon-tag"></span>
    Taggar
  </h2>
  <p>
    <span ng-repeat-start="tag in tags"
          class="label label-default"><a href="#">{{tag.tag}}</a></span>
    <span ng-repeat-end></span>
  </p>
</aside>
