<!DOCTYPE html>
<html ng-app="TOERH">
<head>
  <title>Toerh</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="MainController">
  <nav role="navigation">
    <div class="container">
      <%# Site name %>
      <div id="navbar-header">
        <a href="/">TOERH</a>
      </div>
      <%# Menu %>
      <div id="navbar-menu">
        <ul>
          <li>
            <a href="/">
              <span class="glyphicon glyphicon-home"></span>
              Förstasidan
            </a>
          </li>
          <li ng-show="user.isAuthenticated">
            <a href="/resources/new">
              <span class="glyphicon glyphicon-pencil"></span>
              Skapa ny resurs
            </a>
          </li>
          <li class="dropdown" ng-show="user.isAdmin">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-wrench"></span>
              Admin
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/categories/new">Skapa ny kategori</a></li>
              <li><a href="/licenses/new">Skapa ny licens</a></li>
            </ul>
          </li>
        </ul>
        <%# User %>
        <p id="navbar-user">
          <span ng-show="user.isAuthenticated">
            Inloggad som {{user.name}}
            <a ng-click="logout()" href="">Logga ut</a>
          </span>
          <span ng-hide="user.isAuthenticated"><a ng-click="login()" href="">Logga in</a></span>
        </p>
      </div>
    </div>
  </nav>

  <header>
    <div class="container">
      <h1>Open Education Resources</h1>

      <p>hej</p>

      <div id="search">
        <input ng-model="query" placeholder="Sök resurs">
      </div>
    </div>
  </header>

  <div id="message" ng-show="showAlert">
    <div class="{{message.type}}">{{message.message}}</div>
  </div>

  <div id="main" class="container">
    <div ng-view></div>
  </div>

  <footer>
    <div class="container">
      Skapad av Christian Nilsson ·
      <a href="#">API</a> ·
      <a href="#">Dokumentation</a>
      <%#= debug params if Rails.env.development? %>
    </div>
  </footer>
</body>
</html>
