<a href="<%= developers_dashboard_path app %>" class="list-group-item">
  <h2 class="list-group-item-heading"><%= app.name %></h2>
  <p class="list-group-item-text">
    Applikationen skapades <%= full_date app.created_at %> och uppdaterades
    senast <%= full_date app.updated_at %>
  </p>
</a>
