<% if @developer.errors.any? %>
  <div id="error-explanation">
    <div class="alert alert-error">
      Formuläret innehåller <%= pluralize @developer.errors.count, "error" %>.
    </div>
    <ul>
      <% @developer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
