<h1>Under contruction</h1>

<div id="search">
  <input ng-model="query">
</div>

<div id="resources"
     data-resources="<%= render(template: "api/resources/index.rabl") %>"
     ng-controller="ResourcesController">

     <p class="search-info" ng-show="query">Du har sökt på {{query}}.</p>

     <gravatar email="email" size="200"></gravatar>

     <ul ng-repeat="resource in resources | filter:query">
       <li>
         <h2><a href="{{resource.url}}">{{resource.name}}</a></h2>
         <p>{{resource.description}}</p>
       </li>
     </ul>
</div>

<%# <script>
  var initData = JSON.parse(document.querySelector("#resources").getAttribute("data-resources"));
</script> %>
