<div id="resources" ng-controller="ResourcesController">

     <p class="search-info" ng-show="query">Du har sökt på {{query}}.</p>

     <gravatar email="email" size="200" default="http://www.google.com/a img.jpg"></gravatar>

     <ul ng-repeat="resource in resources | filter:query">
       <li>
         <h2><a href="{{resource.url}}">{{resource.name}}</a></h2>
         <p>{{resource.description}}</p>
       </li>
     </ul>
</div>

<aside id="filter" ng-controller="ResourcesController">
  <h2>
    <span class="glyphicon glyphicon-link"></span>
    Kategorier
  </h2>
  <p>
    <span ng-repeat-start="category in categories"
          class="label label-default"><a href="#">{{category.name}}</a></span>
    <span ng-repeat-end></span>
  </p>

  <h2>
    <span class="glyphicon glyphicon-tag"></span>
    Taggar
  </h2>
  <p>
    <span ng-repeat-start="tag in tags"
          class="label label-default"><a href="#">{{tag.tag}}</a></span>
    <span ng-repeat-end></span>
  </p>
</aside>
