<div id="resources">
  <div class="page-header" ng-show="query">
    <h1>Sökresultat</h1>
  </div>

  <div class="page-header" ng-show="tag">
    <h1>Visar taggen "{{tag.tag}}"</h1>
  </div>

  <div class="resource" ng-show="resources.length == 0">
    Det finns inget här, testa att söka på något annat.
  </div>

  <div class="resource" ng-repeat="resource in resources">
    <h2><a href="{{resource.url}}">{{resource.name}}</a></h2>

    <p>
      <small ng-repeat="tag in resource.tags" class='tag'>
        <span class="glyphicon glyphicon-tag"></span>
        {{tag.tag}}
      </small>
    </p>

    <p>
      {{resource.description}}
      <a href="/resources/{{resource.uuid}}">Läs mer</a>
    </p>

    <small>
      Skapades av
      <img gravatar email="resource.user.email" size="15" default="mm"></gravatar>
      {{resource.user.firstname}}
      <span am-time-ago="resource.created_at"></span>.
    </small>
  </div>

  <ul class="pagination">
    <li ng-class="{ disabled: currentPage == 0 }">
      <a href="" ng-click="prevPage()">&laquo;</a>
    </li>
    <li ng-repeat="n in range(pages)"
        ng-class="{ active: n == currentPage }"
        ng-click="setPage()">
        <a href="">{{n + 1}}</a>
    </li>
    <li ng-class="{ disabled: currentPage == pages - 1 }">
      <a href="" ng-click="nextPage()">&raquo;</a>
    </li>
  </ul>
</div>

<aside id="filter">
  <h2>
    <span class="glyphicon glyphicon-link"></span>
    Kategorier
  </h2>
  <p>
    <select ng-model="category" ng-options="c.name for c in categories | unique:'uuid'"></select>
  </p>

  <h2>
    <span class="glyphicon glyphicon-briefcase"></span>
    Licenser
  </h2>
  <p>
    <select ng-model="license" ng-options="l.name for l in licenses | unique:'uuid'"></select>
  </p>

  <h2>
    <span class="glyphicon glyphicon-tag"></span>
    Taggar
  </h2>
  <p>
    <span ng-repeat-start="t in tags | unique:'uuid'"
          class="label label-default"><a href="/tags/{{t.uuid}}">{{t.tag}}</a></span>
    <span ng-repeat-end></span>
  </p>
</aside>
