<div id="resources">
  <div class="page-header" ng-show="query">
    <h1>Sökresultat</h1>
  </div>

  <div class="resource" ng-show="resources.length == 0">
    Det finns inget här, testa att söka på något annat.
  </div>

  <div class="resource" ng-repeat="resource in resources">
    <h2><a href="{{resource.url}}">{{resource.name}}</a></h2>

    <p>
      {{resource.description}}
      <a href="/resources/{{resource.uuid}}">[Mer]</a>

      <span ng-repeat="tag in resource.tags" class='tag'>
        <a href="/tags/{{tag.uuid}}">
          <span class="glyphicon glyphicon-tag"></span>
          {{tag.tag}}
        </a>
      </span>
    </p>

    <small>
      Skapades av
      <img gravatar email="resource.user.email" size="15" default="mm"></gravatar>
      {{resource.user.firstname}}
      <span am-time-ago="resource.created_at"></span>.
    </small>
  </div>
</div>

<aside id="filter">
  <h2>
    <span class="glyphicon glyphicon-link"></span>
    Kategorier
  </h2>
  <p>
    <span ng-repeat-start="category in categories | unique:'uuid'"
          class="label label-default"><a href="#">{{category.name}}</a></span>
    <span ng-repeat-end></span>
  </p>

  <h2>
    <span class="glyphicon glyphicon-tag"></span>
    Taggar
  </h2>
  <p>
    <span ng-repeat-start="tag in tags | unique:'uuid'"
          class="label label-default"><a href="#">{{tag.tag}}</a></span>
    <span ng-repeat-end></span>
  </p>
</aside>
