<div id="resource">
  <div class="page-header">
    <h1><a href="{{resource.url}}">{{resource.name}}</a></h1>
  </div>

  <p>{{resource.description}}</p>

  <p ng-show="createdByMe" class="change-resource">
    <span class="glyphicon glyphicon-cog"></span>
    <a href="/resources/{{resource.uuid}}/edit">Ändra</a>
    <a href="">Ta bort</a>
  </p>

  <div class="user">
    Skapades av
    <img gravatar email="'{{resource.user.email}}'" size="15" default="mm">
    {{resource.user.firstname}}
  </div>

  <div class="updated-at">
    Uppdaterades {{resource.updated_at | date:'yyyy-MM-dd HH:mm:ss'}}.
  </div>

  <div class="created-at">
    Skapades {{resource.created_at | date:'yyyy-MM-dd HH:mm:ss'}}.
  </div>

  <h2>Licens</h2>
  <h3>{{resource.license.name}}</h3>
  <p class="license">
    {{resource.license.description}}
    <a href="{{resource.license.url}}">Läs hela licensen</a>
  </p>
</div>

<aside id="filter">
  <h2>
    <span class="glyphicon glyphicon-link"></span>
    Kategori
  </h2>
  <p>
    <span class="label label-default"><a href="/categories/resource.resource_type.uuid">{{resource.resource_type.name}}</a></span>
  </p>

  <h2>
    <span class="glyphicon glyphicon-tag"></span>
    Taggar
  </h2>
  <p>
    <span ng-repeat-start="tag in resource.tags"
      class="label label-default"><a href="/tags/{{tag.uuid}}">{{tag.tag}}</a></span>
    <span ng-repeat-end></span>
  </p>
</aside>
