<% provide :title, "Dina applikationer" %>
<% highlight :dashboard %>

<div class="page-header">
  <h1>
    Kontrollpanelen
    <small>
      <%= link_to "Skapa ny applikation",
                  new_developers_dashboard_path %>
    </small>
  </h1>
</div>

<% if current_user.applications.present? %>
  <div class="list-group">
    <%= render partial: "application_short", collection: current_user.applications, as: :app %>
  </div>
<% else %>
  <p>Du har inte skapat några applikationer än.</p>
<% end %>
