<% provide :title, "Ny applikation" %>
<% highlight :dashboard %>

<div class="page-header">
  <h1>Skapa ny applikation</h1>
</div>

<%= render 'form', application: @application,
                   route: developers_dashboard_index_path,
                   submit_text: "Registrera applikationen" %>
