#developers-nav {
  @extend .navbar;
  @extend .navbar-inverse;

  margin-top: 15px;

  #navbar-user {
    @extend .navbar-text;
    @extend .navbar-right;
  }

  .nav-btn {
    @extend .btn;
    @extend .btn-default;
    @extend .navbar-btn;
    @extend .navbar-right;
  }

  .nav-user {
    @extend .navbar-text;
    @extend .navbar-right;

    padding-right: 15px;
  }

  .nav-header {
    @extend .navbar-header;

    a {
      @extend .navbar-brand;
    }
  }

  .nav-links {
    @extend .collapse;
    @extend .navbar-collapse;

    ul {
      @extend .nav;
      @extend .navbar-nav;
    }
  }
}

.page-header {
  h1 {
    small {
      a, input {
        @extend .pull-right;
        @extend .btn;
      }

      form {
        display: inline;

        input {
          color: #478EB8;
        }
      }
    }
  }
}

.method {
  color: white;
  padding: 1px 5px;
  font-weight: bold;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: .85em;
}

.method-get {
  background-color: rgb(77, 171, 88);
}

.method-post {
  background-color: rgb(204, 153, 0);
}

.method-put {
  background-color: rgb(49, 99, 247);
}

.method-delete {
  background-color: rgb(203, 51, 0);
}
